:root {
  --bs-primary: #0b2447 !important;
  --bs-secondary: #1d3557 !important; /* Adjusted secondary color */
}

.btn-primary, .form-button, .bg-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.link-primary, .text-primary {
    color: var(--bs-primary) !important;
    text-decoration: none !important;
}
body {
    background-color: #f8f9fa;
    font-family: "Poppins";
}


.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
}

.table {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

#calendar {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}